<div class="background" style="background-image: url('assets/img/3.png'); background-repeat: no-repeat; background-size: 20%; background-position: left;">
    <br>
    <br>
    <br>
<div class="container" style="background-color: white;">

    <div class="row" id="shadow">
        <div class="col-12" id="border">
            <br>
            <p>Our past works</p>

            <h1 id="heading">The<br></h1>
            <h1 id="heading" style="color: #FF4F5A;">Clientele.</h1>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-4">

                <br>
                <br>
                <img src="assets/img/brands-and-logotypes.png" class="img-fluid" alt="google">
                <br>
                <br>
                <img src="assets/img/microsoft.png" class="img-fluid" alt="microsoft">
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col-4">

                <br>
                <br>
                <img src="assets/img/facebook.png" class="img-fluid" alt="facebook">
                <br>
                <br>
                <img src="assets/img/samsung.png" class="img-fluid" alt="samsung">
            </div>
            <div class="col-4">

                <br>
                <br>
                <img src="assets/img/twitter.png" class="img-fluid" alt="twitter">
                <br>
                <br>
                <img src="assets/img/company.png" class="img-fluid" alt="apple">
            </div>
        </div>
    </div>
</div>
<br>
<br>
</div>
