<!-- Footer -->
<footer class="page-footer font-small">

    <div class="container" id="footer-elements">
        <div class="row">
            <div class="col-4 pt-2" style="text-align: start; font-size: 30px;">
                <!-- OpenCode. -->
                <img src="assets/img/OCsymbol.png" class="img-fluid" alt="OCsymbol" style="width: 10%;">
            </div>
            <div class="col-4" style="text-align: center;">
                <br>Designed by OpenCode, that's us!
            </div>
            <div class="col-4" style="text-align: end;">
                @OpenCode<br>
                All rights reserved.<br>
                Singapore.
            </div>
        </div>
    </div>


</footer>
<!-- Footer -->