<div class="container">
    <div class="row" id="landing-row">
        <div class="col-6">
            <!-- <p id="brand">Open Code.</p> -->
            <img src="assets/img/brand-logo.png" class="img-fluid" alt="brand-logo" style="width: 50%;">
            <br>
            <br>
            <br>
            <br>
            <img src="assets/img/landing.jpeg" class="img-fluid" id="landing-img">
        </div>
        <div class="col-6">
            <ul style="text-align: end;" class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#!">Home<i class="fas fa-circle pl-4" style="font-size: 10px; color: #FF4F5A;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">About<i class="fas fa-circle pl-4" style="font-size: 10px;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Services<i class="fas fa-circle pl-4" style="font-size: 10px;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Clientele<i class="fas fa-circle pl-4" style="font-size: 10px;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Contact<i class="fas fa-circle pl-4" style="font-size: 10px;"></i></a>
                </li>
            </ul>

            <br>
            <div class="container">
                <div class="row">
                    <div id="landing-header">
                        <h3 style="font-size: 24px; color: #FF4F5A;">Discover your brand's true potential with <br></h3>
                        <!-- <h1 style="font-size: 70px;">OpenCode. <br></h1> -->
                        <img src="assets/img/darkBg-logo.png" class="img-fluid" alt="logo">
                        <p style="font-size: 18px;">Web Development<span class="px-5" style="font-size: 30px;">|</span>UI/UX Design</p>
                    </div>
                </div>
            </div>
        </div>


        


    </div>

</div>
<div class="col-12" id="scroll-btn">
    <a>scroll</a>
</div>


<br>
<br>
<br>