#landing-row {
    height: 100vh;
    padding: 50px 0px 50px 0px;
    overflow-x: hidden;
}

#landing-header {
    text-align: end;
}

#brand {
    font-size: 30px;
}

#scroll-btn {
    text-decoration: none;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

#landing-img {
    width: 70%;
}

// #darkBg-logo {
//     width: 15%;
// }

#right {
    padding: 250px 0px 0px 50px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}