#border {
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #FF4F5A;
}

#heading {
    font-size: 100px;
}

#label {
    color: black;
}

#submit-btn {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: black;
}

