<div class="container">
    <div class="row">
        <div class="col-5" id="border">
            <br>
            <p>Build your dream project today</p>

            <h1 id="heading">Let's <br></h1>
            <h1 id="heading" style="color: #FF4F5A;">Connect!</h1>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-6">
                    <div class="md-form">
                        <input mdbInput placeholder="Your Name" type="text" id="form58" class="form-control">
                        <label for="form58"><strong id="label">Name *</strong></label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="md-form">
                        <input mdbInput placeholder="Email Address" type="text" id="form58" class="form-control">
                        <label for="form58"><strong id="label">Email *</strong></label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="md-form">
                        <input mdbInput placeholder="Your Subject" type="text" id="form58" class="form-control">
                        <label for="form58"><strong id="label">Subject *</strong></label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="md-form">
                        <input mdbInput placeholder="Your Company" type="text" id="form58" class="form-control">
                        <label for="form58"><strong id="label">Company</strong></label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="md-form">
                        <textarea class="md-textarea form-control " placeholder="Start Typing Here" rows="3"
                            id="input_text" type="text" length="120" mdbCharCounter mdbInput></textarea>
                        <label for="input_text"><strong id="label">Message *</strong></label>
                    </div>
                </div>
                <div class="col-12">
                    <p><strong id="label"> How did you find out about us? * </strong></p>
   
                    <mdb-checkbox [checked]="false" [default]="true">Google</mdb-checkbox>
            
                    <mdb-checkbox [checked]="false" [default]="true">Word-of-mouth</mdb-checkbox>
                    
                    <mdb-checkbox [checked]="false" [default]="true">Others</mdb-checkbox>

                    <br>
                    <br>
                    <mdb-checkbox [checked]="false" [default]="true">Your personal information will be kept strictly confidential and will not be sold, reused, rented, loaned or otherwise disclosed.
                        Any information you give us will be treated with the utmost care and will not be used in ways that you have not consented to, unless you have used our websites in an unlawful manner.
                    </mdb-checkbox>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-12">
                    <div id="btn-border">
                    <a id="submit-btn">Submit</a>
                </div>
                </div>
            </div>

        </div>
        <!-- <div class="w-100"></div>
        <br>
        <br>
        <div class="col-5">
            Alternatively, you can contact us at:<br>
            contact@opencode.tech<br><br>
            We usually reply within 24 hours 😊
        </div> -->


    </div>
</div>
<br>
<br>
<br>
<br>
<br>