<div class="background" style="background-image: url('assets/img/4.png'); background-repeat: no-repeat; background-size: 20%; background-position: right;">
    <br>
    <br>
    <br>
<div class="container">
    <div class="row">
        <div class="col-12" id="border">
            <br>
            <p>Services</p>

            <h1 id="heading">What<br></h1>
            <h1 id="heading" style="color: #FF4F5A;">We offer.</h1>
        </div>
    </div>
    <br>
    <br>
    <br>
    
    <div id="service-icons">
        <div class="row">
            <div class="col-4">
                <img src="assets/img/paint-palette.png" class="img-fluid" alt="icon">
                <strong><p class="title">UI/UX Design</p></strong>
                <p class="margin-y">Prototyping</p>
                <p class="margin-y">Mobile App Design</p>
                <p class="margin-y">Web Design</p>
            </div>
            <div class="col-4">
                <img src="assets/img/web-programming.png" class="img-fluid" alt="icon">
                <strong><p class="title">Development</p></strong>
                <p class="margin-y">Content Management System(CMS)</p>
                <p class="margin-y">Angular Development</p>
                <p class="margin-y">Web Development</p>
                <p class="margin-y">E-commerce sites</p>
            </div>
            <div class="col-4">
                <img src="assets/img/rocket.png" class="img-fluid" alt="icon">
                <strong><p class="title">Optimisation</p></strong>
                <p class="margin-y">Search Engine Optimisation</p>
                <p class="margin-y">Keyword Research Strategy</p>
                <p class="margin-y">Content Optimisation</p>
                <p class="margin-y">Fast Website</p>
            </div>
        </div>
    </div>
</div>
</div>
