#border {
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #FF4F5A;
}

#heading {
    font-size: 100px;
}

#service-icons {
    text-align:center;
}

// .col-4 {
//     padding: 125px;
// }

.title {
    font-size: 25px;
    padding: 20px 0px 0px 0px;
}

.margin-y {
    margin-top: -15px;
    color: #707070;
}

.img-fluid {
    width: 30%;
}

.background {
    background-color: #F2F2F2;
    
}

