#border {
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #FF4F5A;
}

#heading {
    font-size: 100px;
}

#about-img {
    padding: 0px 50px 0px 50px;
}

.background {
    background-repeat: no-repeat; background-color: #F2F2F2;
}