<div class="background" style="background-image: url('assets/img/2.png'), url('assets/img/asset-1.png');">
    <br>
    <br>
    <br>
<div class="container">
    <div class="row">
        <div class="col-12" id="border">
            <br>
            <p style="color: white;">About & Mission</p>
            
            <h1 id="heading" style="color: white;">We Deliver <br></h1>
            <h1 id="heading" style="color: #FF4F5A;">The Experience.</h1>
            
          
        </div>
        <div class="col-10">
            <br>
            <br>
            <br>
            <p style="color: white;">Ever experienced paying to collaborate with a web designer for your website but the outcome isn't as expected?
                One way or another, many startups and companies have come across this issue, consiering the importance of having a website in this era, and we know that it is really frustrating.<br><br>
                We believe that the attention of a visitor to a website must be grabbed within lesser that a span of 8 seconds. Therefore at OpenCode, we offer substantial knowledge and skills in various aspects of Web Design and Development to suit your customized needs and requirements for your fast, responsive and intuitive website.<br><br>
                Through all, we ensure that the most seamless experience is provided to you.
            </p>
            <br>
            <br>
        </div>
        <div class="col-12">
            <div id="about-img">
            <img src="assets/img/img.jpeg" class="img-fluid" alt="Responsive image">
        </div>
        </div>
    </div>
</div>
</div>

